<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
                <br>
                <a *ngIf="cajaUsuario === null else elseblock"
                    [routerLink]="['/cajas/create']" class="btn bg-gradient-success">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo
                </a>

                <ng-template #elseblock>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-buttons dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-coins"></i> Opciones
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Editar Monto Inicial</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Cerrar Caja</a>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-buttons dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-compress-arrows-alt"></i> Movimientos de Caja
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="">Devolucion</a>
                            <a class="dropdown-item">Prestamo</a>
                            <a class="dropdown-item">Gasto</a>
                            <a class="dropdown-item" >Pago a Proveedor</a>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-body table-responsive">

        <div *ngIf="cajaUsuario === null" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                Atención!
            </h5>

            No existe ninguna caja aperturada en la base de datos!
        </div>
        <table *ngIf="cajaUsuario !== null">
            <tr>
                <td class="color-box" style="background-color: #000000;"></td>
                <td>MONTO INICIAL</td>
                <td class="amount">{{cajaUsuario.montoApertura | currency: "Q" : "symbol"}}</td>
            </tr>
            <tr>
                <td class="color-box" style="background-color: #28a745;"></td>
                <td>INGRESOS</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr>
                <td class="color-box" style="background-color: #dc3545;"></td>
                <td>DEVOLUCIONES</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr>
                <td class="color-box" style="background-color: #ffc107;"></td>
                <td>PRÉSTAMOS</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr>
                <td class="color-box" style="background-color: #17a2b8;"></td>
                <td>GASTOS</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr class="total income">
                <td colspan="2">INGRESOS TOTALES</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr class="total expense">
                <td colspan="2">EGRESOS TOTALES</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr class="total balance">
                <td colspan="2">SALDO</td>
                <td class="amount">S/ 0.00</td>
            </tr>
            <tr class="total initial-balance">
                <td colspan="2">MONTO INICIAL + SALDO</td>
                <td class="amount">S/ 25000.00</td>
            </tr>
        </table>
    </div>
</div>
